Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

feat(http-e2e-tests): add warrior statusCode controllers
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsDeleteStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsGetStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsHeadStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsOptionsStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsPatchStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsPostStatusCodeController.ts
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsPutStatusCodeController.ts
Due: none

feat(http-e2e-tests): implement givenDefinitions for warrior statusCode controllers
  packages/http/tools/e2e-tests/src/warrior/status-code/step-definitions/givenDefinitions.ts
Due: none

feat(http-e2e-tests): implement thenDefinitions for warrior statusCode controllers
  packages/http/tools/e2e-tests/src/warrior/status-code/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add statusCode decorator feature
  packages/http/tools/e2e-tests/features/statusCode.feature
Due: none

fix(http-e2e-tests): remove WarriorsHeadStatusCodeController
  packages/http/tools/e2e-tests/src/warrior/status-code/controllers/WarriorsHeadStatusCodeController.ts
Due: none

fix(http-e2e-tests): improve assertion for NO_CONTENT status code
  packages/http/tools/e2e-tests/src/warrior/status-code/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add warrior setHeader controllers
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsDeleteSetHeaderController.ts
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsGetSetHeaderController.ts
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsOptionsSetHeaderController.ts
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPatchSetHeaderController.ts
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPostSetHeaderController.ts
  packages/http/tools/e2e-tests/src/warrior/set-header/controllers/WarriorsPutSetHeaderController.ts
Due: none

feat(http-e2e-tests): implement givenDefinitions for warrior setHeader controllers
  packages/http/tools/e2e-tests/src/warrior/set-header/step-definitions/givenDefinitions.ts
Due: none

feat(http-e2e-tests): implement thenDefinitions for warrior setHeader controllers
  packages/http/tools/e2e-tests/src/warrior/set-header/step-definitions/thenDefinitions.ts
Due: none

feat(http-core): add setHeader decorator to exports in index.ts
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

feat(http-e2e-tests): add setHeader decorator feature
  packages/http/tools/e2e-tests/features/setHeader.feature
Due: none

feat(http-e2e-tests): specify NO_CONTENT statusCode decorator in scenarios
  packages/http/tools/e2e-tests/features/statusCode.feature
  packages/http/tools/e2e-tests/src/warrior/status-code/step-definitions/givenDefinitions.ts
Due: none

feat(plugin): simplify plugin package
  .changeset/chilly-walls-design.md
  .changeset/eleven-years-sink.md
  .changeset/tricky-geckos-say.md
  packages/container/libraries/plugin/package.json
  packages/container/libraries/plugin/src/global.d.ts
  packages/container/libraries/plugin/src/index.ts
  packages/container/libraries/plugin/src/plugin/actions/createPlugin.spec.ts
  packages/container/libraries/plugin/src/plugin/actions/createPlugin.ts
  packages/container/libraries/plugin/src/plugin/actions/getPlugin.spec.ts
  packages/container/libraries/plugin/src/plugin/actions/getPlugin.ts
  packages/container/libraries/plugin/src/plugin/actions/setPlugin.spec.ts
  packages/container/libraries/plugin/src/plugin/actions/setPlugin.ts
  packages/container/libraries/plugin/src/plugin/models/Plugin.ts
  packages/container/libraries/plugin/src/plugin/models/PluginContext.ts
  packages/container/libraries/plugin/src/registry/actions/getPluginRegistry.spec.ts
  packages/container/libraries/plugin/src/registry/actions/getPluginRegistry.ts
Due: none

chore: update workspace with container examples packages folder
  .vscode/settings.json
  knip.ts
  pnpm-workspace.yaml
Due: none

chore: add plugin example package
  packages/container/examples/plugin-example/.gitignore
  packages/container/examples/plugin-example/.lintstagedrc.json
  packages/container/examples/plugin-example/.npmignore
  packages/container/examples/plugin-example/.npmrc
  packages/container/examples/plugin-example/README.md
  packages/container/examples/plugin-example/eslint.config.mjs
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-example/prettier.config.mjs
  packages/container/examples/plugin-example/rollup.config.mjs
  packages/container/examples/plugin-example/src/index.ts
  packages/container/examples/plugin-example/stryker.config.mjs
  packages/container/examples/plugin-example/tsconfig.cjs.json
  packages/container/examples/plugin-example/tsconfig.esm.json
  packages/container/examples/plugin-example/tsconfig.json
  packages/container/examples/plugin-example/vitest.config.mjs
  packages/container/examples/plugin-example/vitest.config.stryker.mjs
  packages/container/examples/plugin-example/vitest.workspace.mjs
Due: none

chore: remove unused dependencies
  packages/container/examples/plugin-example/package.json
  packages/container/libraries/plugin/package.json
Due: none

feat(core): add getBindingId
  .changeset/thin-rivers-prove.md
  packages/container/libraries/core/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/core/src/binding/actions/getBindingId.ts
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

refactor(container): update BindToFluentSyntaxImplementation to rely on core util
  packages/container/libraries/container/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/container/src/binding/actions/getBindingId.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

fix(core): update buildFilteredServiceBindings to rely on class metadata scope
  .changeset/light-toes-relax.md
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFilteredServiceBindings.ts
Due: @inversifyjs/core

chore: update plugin package to be non semver
  packages/container/libraries/plugin/package.json
Due: none

chore: add plugin usage example package
  packages/container/examples/plugin-usage-example/.gitignore
  packages/container/examples/plugin-usage-example/.lintstagedrc.json
  packages/container/examples/plugin-usage-example/.npmignore
  packages/container/examples/plugin-usage-example/README.md
  packages/container/examples/plugin-usage-example/eslint.config.mjs
  packages/container/examples/plugin-usage-example/package.json
  packages/container/examples/plugin-usage-example/prettier.config.mjs
  packages/container/examples/plugin-usage-example/rollup.config.mjs
  packages/container/examples/plugin-usage-example/src/index.ts
  packages/container/examples/plugin-usage-example/tsconfig.cjs.json
  packages/container/examples/plugin-usage-example/tsconfig.esm.json
  packages/container/examples/plugin-usage-example/tsconfig.json
Due: none

style: fix linter issue
  packages/container/libraries/core/src/metadata/actions/setIsInjectableFlag.spec.ts
Due: @inversifyjs/core

chore: simplify ci benchmark conditions
  .github/workflows/build.yaml
Due: none

docs: remove duplicated lines
  packages/container/examples/plugin-example/CHANGELOG.md
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/plugin/CHANGELOG.md
Due: @inversifyjs/container

docs: update injectable decorator api docs
  packages/docs/services/inversify-site/docs/api/decorator.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/decorator.mdx
Due: none

docs: add typescript requirements page
  packages/docs/services/inversify-site/docs/faq/requirements.mdx
  packages/docs/services/inversify-site/docs/faq/using-bundlers.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/faq/requirements.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/faq/using-bundlers.mdx
Due: none

chore: update hono
  packages/http/libraries/hono/package.json
Due: none

chore: bump depdendencies
  packages/container/libraries/binding-decorators/package.json
  packages/http/libraries/core/package.json
  packages/http/libraries/express-v4/package.json
  packages/http/libraries/express/package.json
  packages/http/libraries/fastify/package.json
  packages/http/libraries/hono/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

fix(http-core): add additional checks for undefined and object type in isApplyMiddlewareOptions
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

fix(http-core): change default type parameters to any in CustomParameterDecoratorHandler
  packages/http/libraries/core/src/http/models/CustomParameterDecoratorHandler.ts
Due: @inversifyjs/http-core

fix(http-core): add pipeList to ControllerMethodParameterMetadata
  packages/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
Due: @inversifyjs/http-core

feat(http-core): add Pipe
  packages/http/libraries/core/src/http/pipe/model/Pipe.ts
Due: @inversifyjs/http-core

feat(http-core): add isPipe type guard and corresponding tests
  packages/http/libraries/core/src/http/typeguard/isPipe.spec.ts
  packages/http/libraries/core/src/http/typeguard/isPipe.ts
Due: @inversifyjs/http-core

feat(http-core): import Pipe type for improved type management
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

feat(http-core): refactor requestMethod decorator and corresponding tests
  packages/http/libraries/core/src/http/calculations/requestMethod.spec.ts
  packages/http/libraries/core/src/http/calculations/requestMethod.ts
  packages/http/libraries/core/src/http/decorators/All.spec.ts
  packages/http/libraries/core/src/http/decorators/All.ts
  packages/http/libraries/core/src/http/decorators/Delete.spec.ts
  packages/http/libraries/core/src/http/decorators/Delete.ts
  packages/http/libraries/core/src/http/decorators/Get.spec.ts
  packages/http/libraries/core/src/http/decorators/Get.ts
  packages/http/libraries/core/src/http/decorators/Head.spec.ts
  packages/http/libraries/core/src/http/decorators/Head.ts
  packages/http/libraries/core/src/http/decorators/Options.spec.ts
  packages/http/libraries/core/src/http/decorators/Options.ts
  packages/http/libraries/core/src/http/decorators/Patch.spec.ts
  packages/http/libraries/core/src/http/decorators/Patch.ts
  packages/http/libraries/core/src/http/decorators/Post.spec.ts
  packages/http/libraries/core/src/http/decorators/Post.ts
  packages/http/libraries/core/src/http/decorators/Put.spec.ts
  packages/http/libraries/core/src/http/decorators/Put.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor requestParam decorators
  packages/http/libraries/core/src/http/calculations/createCustomParameterDecorator.spec.ts
  packages/http/libraries/core/src/http/calculations/createCustomParameterDecorator.ts
  packages/http/libraries/core/src/http/calculations/requestParam.spec.ts
  packages/http/libraries/core/src/http/calculations/requestParam.ts
  packages/http/libraries/core/src/http/calculations/requestParamFactory.spec.ts
  packages/http/libraries/core/src/http/calculations/requestParamFactory.ts
  packages/http/libraries/core/src/http/decorators/Body.spec.ts
  packages/http/libraries/core/src/http/decorators/Body.ts
  packages/http/libraries/core/src/http/decorators/Cookies.spec.ts
  packages/http/libraries/core/src/http/decorators/Cookies.ts
  packages/http/libraries/core/src/http/decorators/Headers.spec.ts
  packages/http/libraries/core/src/http/decorators/Headers.ts
  packages/http/libraries/core/src/http/decorators/Next.spec.ts
  packages/http/libraries/core/src/http/decorators/Next.ts
  packages/http/libraries/core/src/http/decorators/Params.spec.ts
  packages/http/libraries/core/src/http/decorators/Params.ts
  packages/http/libraries/core/src/http/decorators/Query.spec.ts
  packages/http/libraries/core/src/http/decorators/Query.ts
  packages/http/libraries/core/src/http/decorators/Request.spec.ts
  packages/http/libraries/core/src/http/decorators/Request.ts
  packages/http/libraries/core/src/http/decorators/Response.spec.ts
  packages/http/libraries/core/src/http/decorators/Response.ts
Due: @inversifyjs/http-core

feat(http-core): enhance parameter handling with pipe processing
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): improve pipe execution handling in InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(tests): correct casing in requestMethod mock imports
  packages/http/libraries/core/src/http/decorators/All.spec.ts
  packages/http/libraries/core/src/http/decorators/Delete.spec.ts
  packages/http/libraries/core/src/http/decorators/Get.spec.ts
  packages/http/libraries/core/src/http/decorators/Head.spec.ts
  packages/http/libraries/core/src/http/decorators/Options.spec.ts
  packages/http/libraries/core/src/http/decorators/Patch.spec.ts
  packages/http/libraries/core/src/http/decorators/Post.spec.ts
  packages/http/libraries/core/src/http/decorators/Put.spec.ts
Due: @inversifyjs/http-core

feat(http-core): add pipe error handling to InversifyHttpAdapter
  packages/http/libraries/core/src/error/models/InversifyHttpAdapterErrorKind.ts
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core
