Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(http-benchmarks): refactor CurrentInversifyHonoBasicGetScenario to use K6
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/CurrentInversifyHonoBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/CurrentInversifyHonoBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/setUpCurrentInversifyHonoBasicGetScenario.ts
Due: none

refactor(http-benchmarks): update setUpCurrentInversifyExpressBasicGetScenario to use AppController
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/setUpCurrentInversifyExpressBasicGetScenario.ts
Due: none

refactor(http-benchmarks): refactor run to use hono K6 benchmarks
  packages/http/tools/http-benchmarks/src/bin/run.ts
Due: none

refactor(http-benchmarks): add ignore dependencies and patterns for hono and Inversify scenarios
  knip.ts
Due: none

refactor(ci): update build workflow to include http-hono package in affected packages check
  .github/workflows/build.yaml
Due: none

refactor(ci): check for http-hono package in E2E tests
  .github/workflows/build.yaml
Due: none

fix(http-fastify): correct app registration for cookie middleware
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

feat(http-benchmarks): add AppController for handling basic GET requests with inversify
  packages/http/tools/http-benchmarks/src/scenario/currentInversify/AppController.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/setUpCurrentInversifyExpressBasicGetScenario.ts
Due: none

refactor(http-benchmarks): refactor CurrentInversifyExpressBasicGetScenario to use K6
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/setUpCurrentInversifyFastifyBasicGetScenario.ts
Due: none

feat(http-benchmarks): add CurrentInversifyFastifyBasicGetScenario to benchmark scenarios
  packages/http/tools/http-benchmarks/src/bin/run.ts
Due: none

feat(knip): add ignore pattern for http-fastify and currentInversify scenarios
  knip.ts
Due: none

chore(ci): add http-fastify to affected packages check in build workflow
  .github/workflows/build.yaml
Due: none

chore: update dependencies
  packages/container/libraries/binding-decorators/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/http/libraries/core/package.json
  packages/http/libraries/express/package.json
  packages/http/tools/e2e-tests/package.json
  packages/http/tools/http-benchmarks/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

feat(inversify-code-examples): add container rebind and unbind examples
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiRebind.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiRebindSync.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiUnbindSync.ts
Due: none

docs(inversify-siite): update both api and migration guide
  packages/docs/services/inversify-site/docs/api/container-module.mdx
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container-module.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
Due: none

refactor(http-benchmarks): rename setup modules
  packages/http/tools/http-benchmarks/src/constant/acceptedHttpStatusCode.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/CurrentInversifyExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/setup.ts
  packages/http/tools/http-benchmarks/src/scenario/express/ExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/express/setup.ts
  packages/http/tools/http-benchmarks/src/scenario/fastify/FastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/fastify/setup.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSExpress/NestJsExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSExpress/setup.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSFastify/NestJsFastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSFastify/setup.ts
Due: none

chore: remove wrong script
  package.json
Due: none

docs(http-benchmarks): add readme
  packages/http/tools/http-benchmarks/README.md
Due: none

chore: update knip http benchmarks config with right entrypoints
  knip.ts
Due: none

refactor(http-benchmarks): move scenario setups to a scenario-setups folder
  packages/http/tools/http-benchmarks/src/bin/run.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/currentInversifyExpress/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/express/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/fastify/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/nestJsExpress/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/nestJsFastify/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/CurrentInversifyExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/express/ExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/fastify/FastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/k6/BaseK6Scenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJs/BasicGetAppModule.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJsExpress/NestJsExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJsFastify/NestJsFastifyBasicGetScenario.ts
Due: none

chore: update knip config
  knip.ts
Due: none

feat(inversify-site): update docs with overview section
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
Due: none

refactor(http-benchmarks): rename setup files and scenario setups for Hono and Inversify Hono
  packages/http/tools/http-benchmarks/src/scenario-setups/currentInversifyExpress/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/currentInversifyHono/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario-setups/hono/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/CurrentInversifyHonoBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/hono/HonoBasicGetScenario.ts
Due: none

refactor(http-core): add TResult generic type
  packages/http/libraries/core/src/http/models/MiddlewareHandler.ts
  packages/http/libraries/core/src/http/models/RequestHandler.ts
  packages/http/libraries/core/src/http/models/RouteParams.ts
  packages/http/libraries/core/src/http/models/RouterParams.ts
Due: @inversifyjs/http-core

refactor(http-hono): update MiddlewareHandler and RequestHandler to include Response type
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

refactor(http-benchmarks): rename setup file and create new setupBasicGetScenario file
  packages/http/tools/http-benchmarks/src/scenario-setups/currentInversifyFastify/setupBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBasicGetScenario.ts
Due: none

refactor(container): extract MapToResolvedValueInjectOptions
  packages/container/libraries/container/src/binding/models/MapToResolvedValueInjectOptions.ts
Due: @inversifyjs/container

fix(container): update Container.toResolvedValue
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

chore: update linter with type test rules
  packages/foundation/tools/eslint-config/index.js
Due: none

test: add BindingFluentSyntax type tests
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
Due: @inversifyjs/container

fix(http-express): fix types after express 5 upgrade
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

fix(http-express): update peer dependency for express to support version 5.1.0
  packages/http/libraries/express/package.json
Due: none

fix(http-e2e-tests): cast application to RequestListener when creating HTTP server
  packages/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
Due: none

refactor(http-core): update execute method to use TResult generic type
  packages/http/libraries/core/src/http/middleware/model/Middleware.ts
Due: @inversifyjs/http-core

refactor(http-core): change default TResult type from unknown to void in MiddlewareHandler
  packages/http/libraries/core/src/http/models/MiddlewareHandler.ts
Due: @inversifyjs/http-core

refactor(http-core): add TMiddlewareHandlerResult in RouteParams and RouterParams interfaces
  packages/http/libraries/core/src/http/models/RouteParams.ts
  packages/http/libraries/core/src/http/models/RouterParams.ts
Due: @inversifyjs/http-core

refactor(container): update MapToResolvedValueInjectOptions
  packages/container/libraries/container/src/binding/models/MapToResolvedValueInjectOptions.ts
Due: @inversifyjs/container

fix(container): update ResolvedValueMetadataInjectOptions to enforce valid values
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/container/src/binding/models/ResolvedValueInjectOptions.ts
Due: @inversifyjs/container

docs(container): add changeset
  .changeset/wild-bugs-burn.md
Due: none

refactor(http-core): update RouteParams and RouterParams interfaces to use TResult generic type Co-authored-by: notaphplover <roberto.pintos.lopez@gmail.com>
  packages/http/libraries/core/src/http/models/RouteParams.ts
  packages/http/libraries/core/src/http/models/RouterParams.ts
Due: @inversifyjs/http-core
