Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(container): update Container to rely on PluginManager
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/index.ts
Due: @inversifyjs/container

fix(http-core): reorder requestParamIncorrectUse in InversifyHttpAdapterErrorKind enum
  packages/http/libraries/core/src/error/models/InversifyHttpAdapterErrorKind.ts
Due: @inversifyjs/http-core

refactor(http-core): simplify pipe application logic in #appendHandlerParam
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(core): update BindingService with getBoundServices
  .changeset/wise-peas-hang.md
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

feat(plugin): update Plugin and PluginApi
  .changeset/dry-carrots-flow.md
  .changeset/late-clowns-love.md
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-example/src/index.ts
  packages/container/examples/plugin-example/stryker.config.mjs
  packages/container/examples/plugin-example/vitest.config.mjs
  packages/container/examples/plugin-example/vitest.config.stryker.mjs
  packages/container/examples/plugin-example/vitest.workspace.mjs
  packages/container/libraries/container/src/container/services/PluginManager.ts
  packages/container/libraries/plugin/package.json
  packages/container/libraries/plugin/src/plugin/models/Plugin.ts
  packages/container/libraries/plugin/src/plugin/models/PluginApi.ts
  packages/container/libraries/plugin/stryker.config.mjs
  packages/container/libraries/plugin/vitest.config.mjs
  packages/container/libraries/plugin/vitest.config.stryker.mjs
  packages/container/libraries/plugin/vitest.workspace.mjs
Due: @inversifyjs/container

feat(http-core): add PipeMetadata interface for pipe handling
  packages/http/libraries/core/src/http/pipe/model/PipeMetadata.ts
Due: @inversifyjs/http-core

feat(http-core): update execute method to include PipeMetadata parameter
  packages/http/libraries/core/src/http/pipe/model/Pipe.ts
Due: @inversifyjs/http-core

feat(http-core): enhance pipe handling by integrating PipeMetadata into handler
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-e2e-tests): add SuccessfulMiddleware and UnsuccessfulMiddleware implementations
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/SuccessfulMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/UnsuccessfulMiddleware.ts
Due: none

feat(http-e2e-tests): add controllers for warrior CRUD operations with successful and unsuccessful middleware
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsDeleteSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsDeleteUnsuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsGetSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsGetSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsGetUnsuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsOptionsSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsOptionsUnsuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPatchSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPatchUnsuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPostSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPostUnsuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPutSuccessfulMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsPutUnsuccessfulMiddlewareController.ts
Due: none

feat(http-e2e-tests): implement givenDefinitions for middleware controllers
  packages/http/tools/e2e-tests/src/warrior/middleware/step-definitions/givenDefinitions.ts
Due: none

feat(http-e2e-tests): add middleware feature for successful and unsuccessful request processing
  packages/http/tools/e2e-tests/features/middleware.feature
Due: none

fix(http-core): change TResult type from void to any for better flexibility
  packages/http/libraries/core/src/http/middleware/model/Middleware.ts
Due: @inversifyjs/http-core

fix(http-e2e-tests): return response.text() in UnsuccessfulMiddleware for proper response handling
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/UnsuccessfulMiddleware.ts
Due: none

refactor(http-e2e-tests): remove WarriorsGetSuccessfulGuardController as part of middleware cleanup
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/WarriorsGetSuccessfulGuardController.ts
Due: none

feat(http-core): add invalidOperationAfterBuild error kind to InversifyHttpAdapterErrorKind enum
  packages/http/libraries/core/src/error/models/InversifyHttpAdapterErrorKind.ts
Due: @inversifyjs/http-core

feat(http-core): implement global middleware and guard application methods in InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): incorporate global handlers in InversifyExpressHttpAdapter
  packages/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

feat(http-fastify): incorporate global handlers in InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

feat(http-hono): incorporate global handlers in InversifyHonoHttpAdapter
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

feat(plugin): update PluginApi with onPlan
  .changeset/cuddly-bats-smile.md
  .changeset/cuddly-lizards-yell.md
  packages/container/examples/plugin-example/src/index.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/PluginManager.spec.ts
  packages/container/libraries/container/src/container/services/PluginManager.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.ts
  packages/container/libraries/plugin/src/plugin/models/Plugin.ts
  packages/container/libraries/plugin/src/plugin/models/PluginApi.ts
Due: @inversifyjs/container

docs: remove obsolete changes
  .changeset/icy-toes-exist.md
  .changeset/late-clowns-love.md
Due: none

refactor(http): use targetClass in PipeMetadata
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): enhance InversifyHttpAdapterError with extraData and update response handling
  packages/http/libraries/core/src/error/models/InversifyHttpAdapterError.ts
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/pipe/model/Pipe.ts
Due: @inversifyjs/http-core

chore: bump dependency
  packages/http/libraries/hono/package.json
Due: none

chore: add dispose plugin
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/plugin-dispose/.gitignore
  packages/container/libraries/plugin-dispose/.lintstagedrc.json
  packages/container/libraries/plugin-dispose/.npmignore
  packages/container/libraries/plugin-dispose/CHANGELOG.md
  packages/container/libraries/plugin-dispose/README.md
  packages/container/libraries/plugin-dispose/eslint.config.mjs
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin-dispose/prettier.config.mjs
  packages/container/libraries/plugin-dispose/rollup.config.mjs
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBinding.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBinding.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBindingMap.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBindingMap.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.ts
  packages/container/libraries/plugin-dispose/src/actions/setPluginDisposeBinding.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/setPluginDisposeBinding.ts
  packages/container/libraries/plugin-dispose/src/calculations/buildDeactivationParams.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/buildDeactivationParams.ts
  packages/container/libraries/plugin-dispose/src/calculations/isInstanceBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isInstanceBindingNode.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.ts
  packages/container/libraries/plugin-dispose/src/calculations/isResolvedValueBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isResolvedValueBindingNode.ts
  packages/container/libraries/plugin-dispose/src/index.ts
  packages/container/libraries/plugin-dispose/src/models/BindingDisposeMetadata.ts
  packages/container/libraries/plugin-dispose/src/models/SingletonScopedBinding.ts
  packages/container/libraries/plugin-dispose/src/models/Writable.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.spec.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.ts
  packages/container/libraries/plugin-dispose/stryker.config.mjs
  packages/container/libraries/plugin-dispose/tsconfig.cjs.json
  packages/container/libraries/plugin-dispose/tsconfig.esm.json
  packages/container/libraries/plugin-dispose/tsconfig.json
  packages/container/libraries/plugin-dispose/vitest.config.mjs
  packages/container/libraries/plugin-dispose/vitest.config.stryker.mjs
  packages/container/libraries/plugin-dispose/vitest.workspace.mjs
Due: @inversifyjs/core

chore: remove unused dependency
  packages/container/libraries/plugin-dispose/package.json
Due: none

feat(http-e2e-tests): add new middleware implementations for Express, Fastify, and Hono
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/SuccessfulMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/UnsuccessfulMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express/SuccessfulExpressMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express/UnsuccessfulExpressMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express4/SuccessfulExpressV4Middleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express4/UnsuccessfulExpressV4Middleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/fastify/SuccessfulFastifyMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/fastify/UnsuccessfulFastifyMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/hono/SuccessfulHonoMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/hono/UnsuccessfulHonoMiddleware.ts
Due: none

feat(http-e2e-tests): implement successful and unsuccessful middleware controllers given definitions
  packages/http/tools/e2e-tests/src/warrior/middleware/step-definitions/givenDefinitions.ts
Due: none

fix(http-e2e-tests): include <server_kind> in successful and unsuccessful middleware scenarios
  packages/http/tools/e2e-tests/features/middleware.feature
Due: none

refactor(http-core): simplify async handling in InversifyHttpAdapter methods
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

test(plugin-dispose): add integration tests
  packages/container/libraries/plugin-dispose/README.md
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin-dispose/src/index.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.int.spec.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.spec.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.ts
Due: none

docs: add changeset
  .changeset/grumpy-trees-talk.md
Due: none

fix(container): update PluginManager to properly build plugins
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/PluginManager.spec.ts
  packages/container/libraries/container/src/container/services/PluginManager.ts
Due: @inversifyjs/container

feat(inversify-site): update docs with plugins page
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/fundamentals/plugins.mdx
  packages/docs/services/inversify-site/docs/fundamentals/snapshot.mdx
Due: none

chore: update config with plugin dispose
  codecov.yml
Due: none

docs(plugin-dispose): add readme file
  packages/container/libraries/plugin-dispose/CHANGELOG.md
  packages/container/libraries/plugin-dispose/README.md
Due: none

refactor(http-e2e-tests): set test header at SuccessfulMiddleware
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express/SuccessfulExpressMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/express4/SuccessfulExpressV4Middleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/fastify/SuccessfulFastifyMiddleware.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/middlewares/hono/SuccessfulHonoMiddleware.ts
Due: none

refactor(http-e2e-tests): apply SuccessfulExpressMiddleware to all UnsuccessfulMiddlewareControllers
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsDeleteUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsGetUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsOptionsUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsPatchUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsPostUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express/WarriorsPutUnsuccessfulExpressMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsDeleteUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsGetUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsOptionsUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsPatchUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsPostUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/express4/WarriorsPutUnsuccessfulExpressV4MiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsDeleteUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsGetUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsOptionsUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsPatchUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsPostUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/fastify/WarriorsPutUnsuccessfulFastifyMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsDeleteUnsuccessfulHonoMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsGetUnsuccessfulHonoMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsOptionsUnsuccessfulHonoMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsPatchUnsuccessfulHonoMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsPostUnsuccessfulHonoMiddlewareController.ts
  packages/http/tools/e2e-tests/src/warrior/middleware/controllers/hono/WarriorsPutUnsuccessfulHonoMiddlewareController.ts
Due: none
