Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore(http-core): add applyMiddleware decorator test
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
Due: @inversifyjs/http-core

chore(http-core): add applyMiddleware decorator to package index
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

chore(inversify-site): add v7 docs
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/binding-syntax.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container-module.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/decorator.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/faq/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/faq/using-bundlers.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/binding.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/inheritance.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/lifecycle/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/lifecycle/activation.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/lifecycle/deactivation.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/fundamentals/snapshot.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/introduction/_category_.json
  packages/docs/services/inversify-site/versioned_docs/version-7.x/introduction/dependency-inversion.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/introduction/getting-started.mdx
  packages/docs/services/inversify-site/versioned_sidebars/version-7.x-sidebars.json
  packages/docs/services/inversify-site/versions.json
Due: none

update ApplyMiddleware.spec.ts
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
Due: @inversifyjs/http-core

fix(http-core): fix applyMiddleware format
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
Due: @inversifyjs/http-core

refactor(container): update ScopeBinding with resolved cache
  packages/container/libraries/core/src/binding/models/ScopedBinding.ts
Due: @inversifyjs/core

fix(core): update cacheResolvedValue with missing promise cached values
  packages/container/libraries/core/src/resolution/actions/cacheResolvedValue.ts
Due: @inversifyjs/core

test(container): add regression test
  packages/container/libraries/container/src/issues/containerGetShouldNotInstantiateAsyncSingletonBindingsTwice.spec.ts
Due: @inversifyjs/container

docs: add missing changesets
  .changeset/sharp-beds-like.md
  .changeset/shy-wings-happen.md
Due: none

chore: update peer dependencies
  packages/container/libraries/binding-decorators/package.json
  packages/http/libraries/core/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

docs: add changeset
  .changeset/blue-jokes-camp.md
Due: none

chore: update codeowners
  .github/CODEOWNERS
Due: none

feat(http-core): add injectable call to controller decorator
  packages/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/http/libraries/core/src/http/decorators/Controller.ts
Due: @inversifyjs/http-core

chore(vitest-config): add vitest-config package
  packages/foundation/tools/vitest-config/.gitignore
  packages/foundation/tools/vitest-config/.lintstagedrc.json
  packages/foundation/tools/vitest-config/lib/index.js
  packages/foundation/tools/vitest-config/package.json
  packages/foundation/tools/vitest-config/prettier.config.mjs
Due: none

chore(vitest-config): add vitest-config package to root package.json
  package.json
Due: none

chore(vitest-config): add eslint-vitest-plugin config
  packages/foundation/tools/eslint-config/index.js
  packages/foundation/tools/eslint-config/package.json
Due: none

chore(vitest-config): migrate common package to vitest
  packages/container/libraries/common/package.json
  packages/container/libraries/common/src/common/calculations/isPromise.spec.ts
  packages/container/libraries/common/src/services/calculations/stringifyServiceIdentifier.spec.ts
  packages/container/libraries/common/src/services/models/LazyServiceIdentifier.spec.ts
  packages/container/libraries/common/vitest.config.mjs
  packages/container/libraries/common/vitest.js.workspace.mjs
  packages/container/libraries/common/vitest.workspace.mjs
Due: @inversifyjs/common

chore(vitest-config): remove jest from common package
  packages/container/libraries/common/jest.config.mjs
  packages/container/libraries/common/jest.config.stryker.mjs
  packages/container/libraries/common/jest.js.config.mjs
  packages/container/libraries/common/package.json
Due: @inversifyjs/common

refactor(http-core): refactor ControllerOptions and controller decorator
  packages/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/http/libraries/core/src/http/decorators/Controller.ts
  packages/http/libraries/core/src/http/models/ControllerOptions.ts
Due: @inversifyjs/http-core

feat(http-core): avoid controller handler build when controller is not injected
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(common): remove js test config
  packages/foundation/tools/vitest-config/lib/index.js
Due: none

refactor(common): remove js test config from common package
  packages/container/libraries/common/package.json
  packages/container/libraries/common/vitest.js.workspace.mjs
Due: @inversifyjs/common

refactor(biding-decorators): migrate binding-decorators package to vitest
  packages/container/libraries/binding-decorators/jest.config.mjs
  packages/container/libraries/binding-decorators/jest.config.stryker.mjs
  packages/container/libraries/binding-decorators/jest.js.config.mjs
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/binding-decorators/src/metadata/actions/updateMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildDefaultBindingMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildProviderModule.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.spec.ts
  packages/container/libraries/binding-decorators/vitest.config.mjs
  packages/container/libraries/binding-decorators/vitest.workspace.mjs
  packages/foundation/tools/eslint-config/index.js
Due: @inversifyjs/binding-decorators

fix: prettier config
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/container/tools/container-benchmarks/package.json
  packages/container/tools/e2e-tests/package.json
  packages/docs/services/inversify-binding-decorators-site/package.json
  packages/docs/services/inversify-binding-decorators-site/src/css/custom.css
  packages/docs/services/inversify-binding-decorators-site/src/pages/index.module.css
  packages/docs/services/inversify-site/package.json
  packages/docs/services/inversify-site/src/css/custom.css
  packages/docs/services/inversify-site/src/pages/index.module.css
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/code-examples-devkit/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/foundation/libraries/benchmark-utils/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/tools/jest-config/package.json
  packages/foundation/tools/rollup-config/package.json
  packages/foundation/tools/stryker-config/package.json
  packages/http/libraries/core/package.json
  packages/http/tools/http-benchmarks/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore: update turbo with custom io
  turbo.json
Due: none

chore(deps): migrate package to vitest
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
Due: @inversifyjs/container, @inversifyjs/core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore(deps): fix eslint vitest package
  packages/foundation/tools/eslint-config/index.js
  packages/foundation/tools/eslint-config/package.json
Due: none

refactor(container): migrate container package to vitest
  packages/container/libraries/container/jest.config.mjs
  packages/container/libraries/container/jest.config.stryker.mjs
  packages/container/libraries/container/jest.js.config.mjs
  packages/container/libraries/container/package.json
  packages/container/libraries/container/src/binding/actions/getBindingId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithNoNameNorTags.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isResolvedValueMetadataInjectOptions.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/container/actions/getContainerModuleId.spec.ts
  packages/container/libraries/container/src/container/binding/utils/BindingConstraintUtils.spec.ts
  packages/container/libraries/container/src/container/models/ContainerModule.spec.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/issues/containerGetShouldNotInstantiateAsyncSingletonBindingsTwice.spec.ts
  packages/container/libraries/container/src/issues/containerGetShouldThrowOnAmbiguousBindingMatch.int.spec.ts
  packages/container/libraries/container/vitest.config.mjs
  packages/container/libraries/container/vitest.workspace.mjs
Due: @inversifyjs/container

refactor(prototype-utils): migrate prototype-utils package to vitest
  packages/foundation/libraries/prototype-utils/jest.config.mjs
  packages/foundation/libraries/prototype-utils/jest.config.stryker.mjs
  packages/foundation/libraries/prototype-utils/jest.js.config.mjs
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/getBaseType.spec.ts
  packages/foundation/libraries/prototype-utils/vitest.config.mjs
  packages/foundation/libraries/prototype-utils/vitest.workspace.mjs
Due: @inversifyjs/prototype-utils

refactor(reflect-metadata-utils): migrate reflect-metadata-utils package to vitest
  packages/foundation/libraries/reflect-metadata-utils/jest.config.mjs
  packages/foundation/libraries/reflect-metadata-utils/jest.config.stryker.mjs
  packages/foundation/libraries/reflect-metadata-utils/jest.js.config.mjs
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/setReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/vitest.config.mjs
  packages/foundation/libraries/reflect-metadata-utils/vitest.workspace.mjs
Due: @inversifyjs/reflect-metadata-utils

refactor(http-core): migrate http-core package to vitest
  packages/http/libraries/core/jest.config.mjs
  packages/http/libraries/core/jest.config.stryker.mjs
  packages/http/libraries/core/jest.js.config.mjs
  packages/http/libraries/core/package.json
  packages/http/libraries/core/src/http/decorators/All.spec.ts
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
  packages/http/libraries/core/src/http/decorators/Body.spec.ts
  packages/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/http/libraries/core/src/http/decorators/Cookies.spec.ts
  packages/http/libraries/core/src/http/decorators/Delete.spec.ts
  packages/http/libraries/core/src/http/decorators/Get.spec.ts
  packages/http/libraries/core/src/http/decorators/Head.spec.ts
  packages/http/libraries/core/src/http/decorators/Headers.spec.ts
  packages/http/libraries/core/src/http/decorators/Next.spec.ts
  packages/http/libraries/core/src/http/decorators/Options.spec.ts
  packages/http/libraries/core/src/http/decorators/Params.spec.ts
  packages/http/libraries/core/src/http/decorators/Patch.spec.ts
  packages/http/libraries/core/src/http/decorators/Post.spec.ts
  packages/http/libraries/core/src/http/decorators/Put.spec.ts
  packages/http/libraries/core/src/http/decorators/Query.spec.ts
  packages/http/libraries/core/src/http/decorators/Request.spec.ts
  packages/http/libraries/core/src/http/decorators/RequestMethod.spec.ts
  packages/http/libraries/core/src/http/decorators/RequestParam.spec.ts
  packages/http/libraries/core/src/http/decorators/Response.spec.ts
  packages/http/libraries/core/src/http/decorators/StatusCode.spec.ts
  packages/http/libraries/core/vitest.config.mjs
  packages/http/libraries/core/vitest.workspace.mjs
Due: @inversifyjs/http-core

refactor(strongly-typed): migrate strongly-typed package to vitest
  packages/container/libraries/strongly-typed/jest.config.mjs
  packages/container/libraries/strongly-typed/jest.js.config.mjs
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/inject.spec.ts
  packages/container/libraries/strongly-typed/vitest.config.mjs
  packages/container/libraries/strongly-typed/vitest.workspace.mjs
Due: none

refactor(binding-decorators-code-examples): migrate binding-decorators-code-examples package to vitest
  packages/docs/tools/binding-decorators-code-examples/jest.config.mjs
  packages/docs/tools/binding-decorators-code-examples/jest.js.config.mjs
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStarted.int.spec.ts
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStartedWithBindingDecorators.int.spec.ts
  packages/docs/tools/binding-decorators-code-examples/vitest.config.mjs
  packages/docs/tools/binding-decorators-code-examples/vitest.workspace.mjs
Due: none

chore(test): add passWithNoTests option to test config
  packages/foundation/tools/vitest-config/lib/index.js
Due: none

chore(test): add stryker workspace to vitest config
  packages/foundation/tools/vitest-config/lib/index.js
Due: none

chore(test): add stryker config test to packages
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/binding-decorators/vitest.config.stryker.mjs
  packages/container/libraries/common/package.json
  packages/container/libraries/common/vitest.config.stryker.mjs
  packages/container/libraries/container/vitest.config.stryker.mjs
  packages/foundation/libraries/prototype-utils/vitest.config.stryker.mjs
  packages/foundation/libraries/reflect-metadata-utils/vitest.config.stryker.mjs
  packages/foundation/tools/stryker-config/lib/index.js
  packages/foundation/tools/vitest-config/lib/index.js
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore(test): some fixes
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithTag.spec.ts
  packages/foundation/tools/stryker-config/lib/index.js
Due: @inversifyjs/container

chore(jest): remove jest package
  package.json
  packages/foundation/tools/jest-config/.gitignore
  packages/foundation/tools/jest-config/.lintstagedrc.json
  packages/foundation/tools/jest-config/lib/config/getJestJsProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getJestProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getJestTsProjectConfig.js
  packages/foundation/tools/jest-config/lib/config/getProjectRoot.js
  packages/foundation/tools/jest-config/lib/config/getTestMatch.js
  packages/foundation/tools/jest-config/lib/index.js
  packages/foundation/tools/jest-config/package.json
  packages/foundation/tools/jest-config/prettier.config.mjs
  packages/http/libraries/core/vitest.config.stryker.mjs
Due: @inversifyjs/http-core

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
