Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

refactor(http-express): refactor InversifyExpressHttpAdapter to use RouterParams
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

refactor(http-fastify): refactor InversifyFastifyHttpAdapter to use RouterParams
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-fastify): fix package index
  packages/http/libraries/fastify/src/index.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBasicGetScenario.ts
Due: none

chore: add e2e-test package
  packages/http/tools/e2e-tests/.gitignore
  packages/http/tools/e2e-tests/.lintstagedrc.json
  packages/http/tools/e2e-tests/README.md
  packages/http/tools/e2e-tests/config/cucumber.cjs.config.mjs
  packages/http/tools/e2e-tests/config/cucumber.config.base.mjs
  packages/http/tools/e2e-tests/config/cucumber.esm.config.mjs
  packages/http/tools/e2e-tests/config/cucumber.ts.config.mjs
  packages/http/tools/e2e-tests/eslint.config.mjs
  packages/http/tools/e2e-tests/package.json
  packages/http/tools/e2e-tests/prettier.config.mjs
  packages/http/tools/e2e-tests/rollup.config.mjs
  packages/http/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/http/tools/e2e-tests/src/app/hooks/before.ts
  packages/http/tools/e2e-tests/src/common/models/InversifyHttpWorld.ts
  packages/http/tools/e2e-tests/src/common/models/Writable.ts
  packages/http/tools/e2e-tests/src/common/models/defaultAlias.ts
  packages/http/tools/e2e-tests/src/common/parameters/stringList.ts
  packages/http/tools/e2e-tests/src/container/actions/setContainer.ts
  packages/http/tools/e2e-tests/src/container/actions/setContainerGetRequest.ts
  packages/http/tools/e2e-tests/src/container/calculations/getContainerGetRequestOrFail.ts
  packages/http/tools/e2e-tests/src/container/calculations/getContainerOrFail.ts
  packages/http/tools/e2e-tests/src/container/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/tsconfig.cjs.json
  packages/http/tools/e2e-tests/tsconfig.esm.json
  packages/http/tools/e2e-tests/tsconfig.json
Due: none

fix(http-core): fix InversifyHttpAdapter NextFunction generic
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-fastify): fix InversifyFastifyHttpAdapter NextFunction generic
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

feat(core): update BindingService
  .changeset/angry-grapes-run.md
  .changeset/common-bobcats-return.md
  packages/container/libraries/core/src/binding/services/BindingService.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

fix(http-express): fix private access at package.json
  packages/http/libraries/express/package.json
Due: none

chore(changeset): add http-express to ignore config
  .changeset/config.json
Due: none

chore(changeset): add http-express to ignore config
  packages/http/libraries/express/package.json
Due: none

refactor(container): add isBindingIdentifier
  packages/container/libraries/container/src/binding/calculations/isBindingIdentifier.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingIdentifier.ts
Due: @inversifyjs/container

feat(core): expose resolveBindingsDeactivations
  .changeset/fine-cooks-see.md
  packages/container/libraries/core/src/index.ts
Due: @inversifyjs/core

chore: update turbo with right test inputs
  turbo.json
Due: none

refactor(container): extract container deactivationParams
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(contianer): update Container.unbind to handle BindingIdentifier
  .changeset/many-moose-care.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

fix(http-express): fix package version
  packages/http/libraries/express/package.json
Due: none

fix(http-express): fix deps
  packages/http/libraries/express/package.json
Due: none

chore: wip
  packages/http/libraries/express/package.json
  pnpm-workspace.yaml
Due: none

fix(http-express): fix http-express deps
  packages/http/libraries/express/package.json
Due: none

refactor(e2e-tests): update World with binding identifiers
  packages/container/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/container/tools/e2e-tests/src/common/models/InversifyWorld.ts
Due: none

refactor(e2e-tests): add binding identifiers world utils
  packages/container/tools/e2e-tests/src/binding/actions/setBindingIdentifier.ts
  packages/container/tools/e2e-tests/src/binding/calculations/getBindingIdentifierOrFail.ts
Due: none

refactor(e2e-tests): rename module
  packages/container/tools/e2e-tests/src/binding/calculations/getBindingOrFail.ts
Due: none

refactor(e2e-tests): add BindingIdentifierParameter
  packages/container/tools/e2e-tests/src/binding/models/BindingIdentifierParameter.ts
Due: none

refactor(e2e-tests): add unbind step definitions
  packages/container/tools/e2e-tests/src/binding/models/BaseBindingParameter.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/whenDefinitions.ts
Due: none

test(e2e-tests): add unbind feature
  packages/container/tools/e2e-tests/features/container/unbind.feature
Due: none

refactor(http-hono): refactor InversifyHonoHttpAdapter to use RouterParams
  packages/http/libraries/hono/package.json
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

feat(http-benchmarks): add Hono benchmarks
  packages/http/tools/http-benchmarks/src/bin/run.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversify/AppController.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/CurrentInversifyHonoBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyHono/CurrentInversifyHonoBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/hono/HonoBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/hono/HonoBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/models/Platform.ts
Due: none

feat(e2e-tests): update world with server
  packages/http/tools/e2e-tests/package.json
  packages/http/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/http/tools/e2e-tests/src/common/models/InversifyHttpWorld.ts
  packages/http/tools/e2e-tests/src/container/actions/setContainer.ts
  packages/http/tools/e2e-tests/src/container/calculations/getContainerOrFail.ts
  packages/http/tools/e2e-tests/src/container/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/server/models/Server.ts
Due: none

refactor(e2e-tests): add ServerKind
  packages/http/tools/e2e-tests/src/server/models/ServerKind.ts
  packages/http/tools/e2e-tests/src/server/parameters/serverKind.ts
Due: none

refactor(e2e-tests): add setServer
  packages/http/tools/e2e-tests/src/server/actions/setServer.ts
Due: none

refactor(e2e-tests): add server given definitions
  packages/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
Due: none

chore: updated changeset ignored packages
  .changeset/config.json
Due: none

style: remove duplicated changelog lines
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

feat(inversify-code-examples): add unbind code examples
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingSyntaxApiGetIdentifier.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiUnbindBindingId.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiUnbindBindingId.ts
Due: none

feat(inversify-site): update docs with 7.2 changes
  packages/docs/services/inversify-site/docs/api/binding-syntax.mdx
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/binding-syntax.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container.mdx
Due: none

chore: update inversify dependency
  packages/http/tools/e2e-tests/package.json
Due: none

chore: update dependencies
  packages/container/libraries/binding-decorators/package.json
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/apiDecoratorsProvideServiceBindingWithBindAction.ts
  packages/http/libraries/core/package.json
  packages/http/libraries/express/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

refactor(e2e-tests): add warrior related controllers
  packages/http/tools/e2e-tests/package.json
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutController.ts
  packages/http/tools/e2e-tests/src/warrior/models/Warrior.ts
Due: none

🏷️ [strongly-typed] Fix `.unbind()` return type to be `Promise`
  .changeset/spotty-donuts-hammer.md
  packages/container/libraries/strongly-typed/src/container.ts
Due: none

refactor(e2e-tests): update world with requests and responses
  packages/http/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/http/tools/e2e-tests/src/app/hooks/after.ts
  packages/http/tools/e2e-tests/src/common/models/InversifyHttpWorld.ts
Due: none
