Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

fix(deps): Fix inversify deps
  packages/container/libraries/binding-decorators/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
Due: @inversifyjs/binding-decorators

docs: update readme
  packages/logger/libraries/core/README.md
Due: none

chore: update winston to be a peer dependency
  packages/logger/libraries/core/package.json
Due: none

test: add LoggerAdapter tests
  packages/logger/libraries/core/src/logger/adapter/LoggerAdapter.spec.ts
Due: none

feat(logger): rename LogType to LogLevel
  packages/logger/libraries/core/src/index.ts
  packages/logger/libraries/core/src/logger/adapter/LoggerAdapter.spec.ts
  packages/logger/libraries/core/src/logger/adapter/LoggerAdapter.ts
  packages/logger/libraries/core/src/logger/model/Logger.ts
  packages/logger/libraries/core/src/model/LogLevel.ts
  packages/logger/libraries/core/src/model/LoggerOptions.ts
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.ts
Due: none

test: add integration test
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.int.spec.ts
Due: none

docs: add changesets
  .changeset/itchy-rules-hunt.md
  .changeset/long-insects-jam.md
  .changeset/shiny-rooms-turn.md
  .changeset/silly-wombats-fetch.md
  .changeset/thin-feet-bathe.md
Due: none

refactor(http-core): refactor guard contract
  packages/http/libraries/core/src/http/adapter/HttpAdapter.ts
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor auth guard
  packages/http/libraries/core/src/http/guard/AuthGuard.ts
Due: @inversifyjs/http-core

refactor(http-core): add inversifyHttpAdapterSymbol to injection
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
Due: @inversifyjs/http-core

feat(@inversifyjs/logger): update LoggerOptions
  packages/logger/libraries/core/src/logger/adapter/LoggerAdapter.ts
  packages/logger/libraries/core/src/model/LoggerOptions.ts
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.int.spec.ts
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.ts
Due: none

chore: update knip config with logger libraries
  knip.ts
Due: none

refactor(logger): update WinstonLoggerAdapter
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.ts
Due: none

refactor(logger): move logger package
  codecov.yml
  knip.ts
  packages/logger/.gitignore
  packages/logger/.lintstagedrc.json
  packages/logger/.npmignore
  packages/logger/README.md
  packages/logger/eslint.config.mjs
  packages/logger/package.json
  packages/logger/prettier.config.mjs
  packages/logger/rollup.config.mjs
  packages/logger/src/index.ts
  packages/logger/src/logger/ConsoleLogger.ts
  packages/logger/src/logger/FileLogger.ts
  packages/logger/src/logger/adapter/LoggerAdapter.spec.ts
  packages/logger/src/logger/adapter/LoggerAdapter.ts
  packages/logger/src/logger/model/ContextMetadata.ts
  packages/logger/src/logger/model/Logger.ts
  packages/logger/src/model/LogLevel.ts
  packages/logger/src/model/LoggerOptions.ts
  packages/logger/src/winston/adapter/WinstonLoggerAdapter.int.spec.ts
  packages/logger/src/winston/adapter/WinstonLoggerAdapter.ts
  packages/logger/stryker.config.mjs
  packages/logger/tsconfig.cjs.json
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
  packages/logger/vitest.config.mjs
  packages/logger/vitest.config.stryker.mjs
  packages/logger/vitest.workspace.mjs
  pnpm-workspace.yaml
Due: none

🏷️ BREAKING CHANGE(strongly-typed): Update to `inversify@7`
  .changeset/huge-teeth-carry.md
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/container.ts
Due: none

feat(http-core): add ConsoleLogger to InversifyHttpAdapter
  packages/http/libraries/core/package.json
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/InternalHttpAdapterOptions.ts
Due: @inversifyjs/http-core

chore(http-core): remove auth guard
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/decorators/User.spec.ts
  packages/http/libraries/core/src/http/decorators/User.ts
  packages/http/libraries/core/src/http/guard/AuthGuard.ts
  packages/http/libraries/core/src/http/models/RequestMethodParameterType.ts
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

refactor(http-core): add RouterExplorer
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor InversifyHttpAdapter to use RouterExplorer
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor guard and guard build logic
  packages/http/libraries/core/src/http/adapter/HttpAdapter.ts
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
Due: @inversifyjs/http-core

refactor(http-core): remove UserRequest
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/UserRequest.ts
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

fix(http-core): fix controller handler build
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

feat(http-express): create http-express package
  packages/http/libraries/express/.gitignore
  packages/http/libraries/express/.lintstagedrc.json
  packages/http/libraries/express/.npmignore
  packages/http/libraries/express/README.md
  packages/http/libraries/express/eslint.config.mjs
  packages/http/libraries/express/package.json
  packages/http/libraries/express/prettier.config.mjs
  packages/http/libraries/express/rollup.config.mjs
  packages/http/libraries/express/stryker.config.mjs
  packages/http/libraries/express/tsconfig.cjs.json
  packages/http/libraries/express/tsconfig.esm.json
  packages/http/libraries/express/tsconfig.json
  packages/http/libraries/express/vitest.config.mjs
  packages/http/libraries/express/vitest.config.stryker.mjs
  packages/http/libraries/express/vitest.workspace.mjs
Due: none

feat(http-express): add InversifyExpressHttpAdapter
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/express/src/index.ts
Due: none

feat(http-benchmarks): CurrentInversifyExpressBasicGetScenario
  packages/http/tools/http-benchmarks/package.json
  packages/http/tools/http-benchmarks/src/bin/run.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/CurrentInversifyExpressBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/CurrentInversifyExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/models/Platform.ts
Due: none

fix!: make `toResolvedValue` mostly typesafe
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
Due: @inversifyjs/container

feat(http-express): add casts to InversifyExpressHttpAdapter to avoid lint issues
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

chore(http-benchmarks): remove currentInversifyFastify platform
  packages/http/tools/http-benchmarks/src/scenario/models/Platform.ts
Due: none

feat(http-express): remove unused deps
  packages/http/libraries/express/package.json
Due: none

chore(eslint-config): disable vitest max depth rule
  packages/foundation/tools/eslint-config/index.js
Due: none

style: fix linter issues
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/strongly-typed/src/container.spec.ts
Due: @inversifyjs/container

fix: update InversifyHttpAdapter to rely on container async calls
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix: update RouterExplorer to rely on container async calls
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
Due: @inversifyjs/http-core

feat(http-fastify): create http-fastify package
  packages/http/libraries/fastify/.gitignore
  packages/http/libraries/fastify/.lintstagedrc.json
  packages/http/libraries/fastify/.npmignore
  packages/http/libraries/fastify/README.md
  packages/http/libraries/fastify/eslint.config.mjs
  packages/http/libraries/fastify/package.json
  packages/http/libraries/fastify/prettier.config.mjs
  packages/http/libraries/fastify/rollup.config.mjs
  packages/http/libraries/fastify/stryker.config.mjs
  packages/http/libraries/fastify/tsconfig.cjs.json
  packages/http/libraries/fastify/tsconfig.esm.json
  packages/http/libraries/fastify/tsconfig.json
  packages/http/libraries/fastify/vitest.config.mjs
  packages/http/libraries/fastify/vitest.config.stryker.mjs
  packages/http/libraries/fastify/vitest.workspace.mjs
Due: none

feat(http-fastify): add InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/http/libraries/fastify/src/index.ts
Due: none

feat(http-benchmarks): add CurrentInversifyFastifyBasicGetScenario
  packages/http/tools/http-benchmarks/package.json
  packages/http/tools/http-benchmarks/src/bin/run.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyFastify/CurrentInversifyFastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/models/Platform.ts
Due: none

chore(http-core): remove controllerName logic from handler build
  packages/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/http/libraries/core/src/http/decorators/Controller.ts
  packages/http/libraries/core/src/http/models/ControllerMetadata.ts
  packages/http/libraries/core/src/http/models/ControllerOptions.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor InversifyHttpAdapter to avoid complex async functions
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterExplorer to avoid complex async functions
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
Due: @inversifyjs/http-core

fix(http-core): fix parameterName type
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/ControllerMethodParameterMetadata.ts
Due: @inversifyjs/http-core

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
