Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

feat(http-core): add custom logger to HttpAdapterOptions
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/HttpAdapterOptions.ts
Due: @inversifyjs/http-core

feat(http-core): log errors when request handler fails
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-hono): create http-hono package
  packages/http/libraries/hono/.gitignore
  packages/http/libraries/hono/.lintstagedrc.json
  packages/http/libraries/hono/.npmignore
  packages/http/libraries/hono/README.md
  packages/http/libraries/hono/eslint.config.mjs
  packages/http/libraries/hono/package.json
  packages/http/libraries/hono/prettier.config.mjs
  packages/http/libraries/hono/rollup.config.mjs
  packages/http/libraries/hono/stryker.config.mjs
  packages/http/libraries/hono/tsconfig.cjs.json
  packages/http/libraries/hono/tsconfig.esm.json
  packages/http/libraries/hono/tsconfig.json
  packages/http/libraries/hono/vitest.config.mjs
  packages/http/libraries/hono/vitest.config.stryker.mjs
  packages/http/libraries/hono/vitest.workspace.mjs
Due: none

feat(http-hono): add InversifyHonoHttpAdapter
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/http/libraries/hono/src/index.ts
Due: none

fix(http-fastify): fix buildServer call
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

fix(http-express): fix buildServer call
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/CurrentInversifyExpressBasicGetScenario.ts
Due: none

fix(http-core): fix middleware prototype to dont avoid sync calls
  packages/http/libraries/core/src/http/models/Middleware.ts
  packages/http/libraries/core/src/http/models/RequestHandler.ts
Due: @inversifyjs/http-core

refactor(@inversifyjs/http-express): update InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(http-core): add printError and avoid non Errors
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-core): fix next function type
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-fastify): fix middleware handler build at InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

fix(http-fastify): remove fastify middie
  packages/http/libraries/fastify/package.json
Due: none

fix(@inversifyjs/http-express): update InversifyExpressAdapter
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

fix(http-core): fix applyMiddleware parameterType to be strict
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.ts
Due: @inversifyjs/http-core

fix(http-core): fix useGuard parameter type to be strict
  packages/http/libraries/core/src/http/decorators/UseGuard.spec.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.ts
Due: @inversifyjs/http-core

fix(http): add default type to Middleware and Guard generics
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.spec.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
  packages/http/libraries/core/src/http/models/Middleware.ts
Due: @inversifyjs/http-core

feat(http-core): add ApplyMiddlewareOptions
  packages/http/libraries/core/src/http/models/ApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor applyMiddleware parameter type to use ApplyMiddlewareOptions
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.ts
Due: @inversifyjs/http-core

feat(http-core): add isApplyMiddlewareOptions typeguard
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.spec.ts
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

feat(http-core): add ApplyMiddlewareOptionsToNewableFunctionConverter
  packages/http/libraries/core/src/routerExplorer/converter/ApplyMiddlewareOptionsToNewableFunctionConverter.ts
  packages/http/libraries/core/src/routerExplorer/converter/Converter.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterExplorer to use preHandlers and postHandlers middlewares
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterExplorer to use preHandlers and postHandlers middlewares
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterParams to use preHandlers and postHandlers middlewares
  packages/http/libraries/core/src/http/models/RouteParams.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor InversifyHttpAdapter to use preHandlers and postHandlers middlewares
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): add RouteParams to package index
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

feat(http-core): add MiddlewarePhase
  packages/http/libraries/core/src/http/middleware/model/Middleware.ts
  packages/http/libraries/core/src/http/middleware/model/MiddlewarePhase.ts
Due: @inversifyjs/http-core

refactor(http-core): move guard files to correct folders
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.spec.ts
  packages/http/libraries/core/src/http/decorators/ApplyMiddleware.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.spec.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.ts
  packages/http/libraries/core/src/http/guard/model/Guard.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor ApplyMiddlewareOptions to use MiddlewarePhase
  packages/http/libraries/core/src/http/models/ApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor isApplyMiddlewareOptions to use MiddlewarePhase
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.spec.ts
Due: @inversifyjs/http-core

refactor(http-core): move RouterExplorer models to correct folders
  packages/http/libraries/core/src/index.ts
  packages/http/libraries/core/src/routerExplorer/model/ControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/ControllerMethodMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/MiddlewareOptions.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor applyMiddlewareOptionsToMiddlewareOptions to use functional paradigm
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/calculations/applyMiddlewareOptionsToMiddlewareOptionsConvert.ts
  packages/http/libraries/core/src/routerExplorer/converter/ApplyMiddlewareOptionsToNewableFunctionConverter.ts
  packages/http/libraries/core/src/routerExplorer/converter/Converter.ts
Due: @inversifyjs/http-core

refactor(http-core): fix applyMiddlewareOptionsToMiddlewareOptionsConvert
  packages/http/libraries/core/src/routerExplorer/calculations/applyMiddlewareOptionsToMiddlewareOptionsConvert.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterExplorer to avoid unnecessary undefined references
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/decorators/Controller.ts
  packages/http/libraries/core/src/http/decorators/RequestMethod.ts
  packages/http/libraries/core/src/http/decorators/RequestParam.ts
  packages/http/libraries/core/src/http/models/ControllerMetadata.ts
  packages/http/libraries/core/src/http/models/ControllerMethodMetadata.ts
  packages/http/libraries/core/src/http/models/ControllerMethodParameterMetadata.ts
  packages/http/libraries/core/src/http/models/RouteParams.ts
  packages/http/libraries/core/src/http/models/RouterParams.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

refactor(@inversifyjs/http-core): rename applyMiddlewareOptionsToMiddlewareOptionsConvert
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildMiddlewareOptionsFromApplyMiddlewareOptions.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildMiddlewareOptionsFromApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

chore: update non publish ready packages to be private and ignored
  .changeset/config.json
  packages/http/libraries/core/package.json
  packages/logger/package.json
Due: @inversifyjs/http-core

chore: update publish action with remove changesets option
  .github/workflows/publish.yaml
Due: none

feat(container): add BindingIdentifier
  .changeset/silver-tigers-nail.md
  packages/container/libraries/container/src/binding/models/BindingIdentifier.ts
  packages/container/libraries/container/src/index.ts
Due: @inversifyjs/container

refactor(container): add buildBindingIdentifier
  packages/container/libraries/container/src/binding/calculations/buildBindingIdentifier.spec.ts
  packages/container/libraries/container/src/binding/calculations/buildBindingIdentifier.ts
Due: @inversifyjs/container

feat(container): updated fluent syntax interfaces with getIdentifier
  .changeset/lucky-shirts-retire.md
  .changeset/metal-mirrors-grab.md
  .changeset/polite-birds-invent.md
  .changeset/tired-planets-fix.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/container/src/index.ts
Due: @inversifyjs/container

refactor(http-core): refactor RouterExplorer to use functional paradigm
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/routerExplorer/RouterExplorer.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerGuardList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerGuardList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodGuardList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodGuardList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodMiddlewareList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodMiddlewareList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodParameterMetadataList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodParameterMetadataList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodStatusCodeMetadata.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMethodStatusCodeMetadata.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMiddlewareList.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllerMiddlewareList.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllers.spec.ts
  packages/http/libraries/core/src/routerExplorer/calculations/exploreControllers.ts
Due: @inversifyjs/http-core

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
