Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

refactor(http-e2e-tests): bind SuccessfulExpressMiddleware to all UnsuccessfulMiddlewareControllers
  packages/http/tools/e2e-tests/src/warrior/middleware/step-definitions/givenDefinitions.ts
Due: none

refactor(http-e2e-tests): add header check to middleware feature
  packages/http/tools/e2e-tests/features/middleware.feature
Due: none

docs(inversify-site): update docs with get all v6 workaround
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
Due: none

chore: update fastify
  packages/http/libraries/fastify/package.json
Due: none

chore: add missing types
  packages/container/tools/e2e-tests/package.json
Due: none

chore: update hono
  packages/http/libraries/hono/package.json
Due: none

refactor(core): add cloneBindingCache
  packages/container/libraries/core/src/binding/calculations/cloneBindingCache.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneBindingCache.ts
Due: @inversifyjs/core

refactor: add cloneConstantValueBinding
  packages/container/libraries/core/src/binding/calculations/cloneConstantValueBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneConstantValueBinding.ts
Due: @inversifyjs/core

fix: update BaseBinding.isSatisfiedBy to be a property
  packages/container/libraries/core/src/binding/models/BaseBinding.ts
Due: @inversifyjs/core

refactor: add cloneDynamicValueBinding
  packages/container/libraries/core/src/binding/calculations/cloneDynamicValueBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneDynamicValueBinding.ts
Due: @inversifyjs/core

refactor: add cloneFactoryBinding
  packages/container/libraries/core/src/binding/calculations/cloneFactoryBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneFactoryBinding.ts
Due: @inversifyjs/core

refactor: add cloneInstanceBinding
  packages/container/libraries/core/src/binding/calculations/cloneInstanceBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneInstanceBinding.ts
Due: @inversifyjs/core

refactor: add cloneProviderBinding
  packages/container/libraries/core/src/binding/calculations/cloneProviderBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneProviderBinding.ts
Due: @inversifyjs/core

refactor: add cloneResolvedValueBinding
  packages/container/libraries/core/src/binding/calculations/cloneResolvedValueBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneResolvedValueBinding.ts
Due: @inversifyjs/core

refactor: add cloneServiceRedirectionBinding
  packages/container/libraries/core/src/binding/calculations/cloneServiceRedirectionBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneServiceRedirectionBinding.ts
Due: @inversifyjs/core

refactor: update OneToManyMapStartSpec with protected methods
  packages/container/libraries/core/src/common/models/OneToManyMapStar.ts
Due: @inversifyjs/core

refactor: add CloneBinding
  packages/container/libraries/core/src/binding/calculations/cloneBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneBinding.ts
Due: @inversifyjs/core

fix: updated Binding.clone to properly clone bindings
  .changeset/modern-wings-battle.md
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1806-containerSnapshotShouldNotBeUpdated.spec.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/container, @inversifyjs/core

chore: bump versions
  .changeset/cuddly-bats-smile.md
  .changeset/cuddly-lizards-yell.md
  .changeset/dry-carrots-flow.md
  .changeset/easy-groups-talk.md
  .changeset/grumpy-trees-talk.md
  .changeset/honest-eggs-cough.md
  .changeset/modern-wings-battle.md
  .changeset/ripe-laws-retire.md
  .changeset/rude-cooks-shine.md
  .changeset/wise-peas-hang.md
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-usage-example/CHANGELOG.md
  packages/container/examples/plugin-usage-example/package.json
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/container/package.json
  packages/container/libraries/core/CHANGELOG.md
  packages/container/libraries/core/package.json
  packages/container/libraries/plugin-dispose/CHANGELOG.md
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin/CHANGELOG.md
  packages/container/libraries/plugin/package.json
Due: @inversifyjs/container, @inversifyjs/core

fix(core): fix child container memory leak (with caveat)
  .changeset/eager-drinks-behave.md
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/core

feat(http-benchmarks): update target in options to use environment variable for VUS
  packages/http/tools/http-benchmarks/src/k6/scenario/BasicGetScenario.ts
Due: none

feat(http-benchmarks): add detailed benchmark scripts for different VUS levels
  packages/http/tools/http-benchmarks/package.json
Due: none

feat(http-benchmarks): add additional benchmark scripts for low, medium, and high configurations
  package.json
Due: none

fix(github-actions): clean up whitespace and improve benchmark script commands
  .github/workflows/build.yaml
Due: none

fix(core): reallocate on subscribe to fix memory leak
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/core

fix: update docusaurus config with future flags
  packages/docs/services/inversify-binding-decorators-site/docusaurus.config.ts
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

chore: bump versions
  .changeset/cuddly-bats-smile.md
  .changeset/cuddly-lizards-yell.md
  .changeset/dry-carrots-flow.md
  .changeset/eager-drinks-behave.md
  .changeset/easy-groups-talk.md
  .changeset/grumpy-trees-talk.md
  .changeset/modern-wings-battle.md
  .changeset/ripe-laws-retire.md
  .changeset/rude-cooks-shine.md
  .changeset/wise-peas-hang.md
  packages/container/examples/plugin-example/CHANGELOG.md
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-usage-example/CHANGELOG.md
  packages/container/examples/plugin-usage-example/package.json
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/container/package.json
  packages/container/libraries/core/CHANGELOG.md
  packages/container/libraries/core/package.json
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin/CHANGELOG.md
  packages/container/libraries/plugin/package.json
Due: @inversifyjs/container, @inversifyjs/core

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
