Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

fix(http-fastify): update stream type to Readable in _replyStream method
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

fix(http-core): update isPipe function to handle undefined and null values correctly
  packages/http/libraries/core/src/http/typeguard/isPipe.spec.ts
  packages/http/libraries/core/src/http/typeguard/isPipe.ts
Due: @inversifyjs/http-core

fix(http-core): update isApplyMiddlewareOptions to handle undefined and null values
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.spec.ts
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.ts
Due: @inversifyjs/http-core

refactor(http-core): rename buildRequestParameterDecorator and update related decorators to use it
  packages/http/libraries/core/src/http/calculations/buildRequestParameterDecorator.spec.ts
  packages/http/libraries/core/src/http/calculations/buildRequestParameterDecorator.ts
  packages/http/libraries/core/src/http/calculations/createCustomParameterDecorator.spec.ts
  packages/http/libraries/core/src/http/calculations/createCustomParameterDecorator.ts
  packages/http/libraries/core/src/http/decorators/Body.spec.ts
  packages/http/libraries/core/src/http/decorators/Body.ts
  packages/http/libraries/core/src/http/decorators/Cookies.spec.ts
  packages/http/libraries/core/src/http/decorators/Cookies.ts
  packages/http/libraries/core/src/http/decorators/Headers.spec.ts
  packages/http/libraries/core/src/http/decorators/Headers.ts
  packages/http/libraries/core/src/http/decorators/Next.spec.ts
  packages/http/libraries/core/src/http/decorators/Next.ts
  packages/http/libraries/core/src/http/decorators/Params.spec.ts
  packages/http/libraries/core/src/http/decorators/Params.ts
  packages/http/libraries/core/src/http/decorators/Query.spec.ts
  packages/http/libraries/core/src/http/decorators/Query.ts
  packages/http/libraries/core/src/http/decorators/Request.spec.ts
  packages/http/libraries/core/src/http/decorators/Request.ts
  packages/http/libraries/core/src/http/decorators/Response.spec.ts
  packages/http/libraries/core/src/http/decorators/Response.ts
Due: @inversifyjs/http-core

feat(plugin): update Plugin with TContainer generic
  .changeset/icy-toes-exist.md
  .changeset/rude-cooks-shine.md
  packages/container/examples/plugin-example/src/index.ts
  packages/container/libraries/container/package.json
  packages/container/libraries/plugin/package.json
  packages/container/libraries/plugin/src/plugin/models/Plugin.ts
  packages/container/libraries/plugin/src/plugin/models/PluginApi.ts
Due: @inversifyjs/container

feat(container): update Container with register
  .changeset/easy-groups-talk.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

refactor(http-core): simplify test structure for isApplyMiddlewareOptions and isPipe
  packages/http/libraries/core/src/http/typeguard/isApplyMiddlewareOptions.spec.ts
  packages/http/libraries/core/src/http/typeguard/isPipe.spec.ts
Due: @inversifyjs/http-core

feat(http-core): implement global pipe support in InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

chore: simplify build ci conditions
  .github/workflows/build.yaml
Due: none

fix: update build step with right condition
  .github/workflows/build.yaml
Due: none

feat(http-e2e-tests): add next warrior controllers
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsDeleteNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsGetNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsOptionsNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPatchNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPostNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPutNextController.ts
Due: none

feat(http-e2e-tests): add step definitions for warrior controllers
  packages/http/tools/e2e-tests/src/warrior/next/step-definitions/givenDefinitions.ts
Due: none

feat(http-e2e-tests): add feature file for next decorator scenarios
  packages/http/tools/e2e-tests/features/next.feature
Due: none

feat(http-core): add 'next' decorator to exports
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

chore: update dependency
  packages/http/libraries/fastify/package.json
Due: none

fix(http-core): ensure next function in InversifyHttpAdapter can return a promise
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(container): add ServiceReferenceManager
  packages/container/libraries/container/src/container/services/ServiceReferenceManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceReferenceManager.ts
Due: @inversifyjs/container

refactor(container): add BindingManager
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/BindingManager.ts
Due: @inversifyjs/container

feat(http-e2e-tests): add SuccessfulGuard and UnsuccessfulGuard implementations
  packages/http/tools/e2e-tests/src/warrior/guard/guards/SuccessfulGuard.ts
  packages/http/tools/e2e-tests/src/warrior/guard/guards/UnsuccessfulGuard.ts
Due: none

refactor(container): add SnapshotManager
  packages/container/libraries/container/src/container/services/SnapshotManager.spec.ts
  packages/container/libraries/container/src/container/services/SnapshotManager.ts
Due: @inversifyjs/container

feat(http-e2e-tests): add controllers for warrior CRUD operations with guards
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsDeleteSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsDeleteUnsuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsGetSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsGetUnsuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsOptionsSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsOptionsUnsuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPatchSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPatchUnsuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPostSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPostUnsuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPutSuccessfulGuardController.ts
  packages/http/tools/e2e-tests/src/warrior/guard/controllers/WarriorsPutUnsuccessfulGuardController.ts
Due: none

refactor(container): add ContainerModuleManager
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.ts
Due: @inversifyjs/container

refactor(container): update container to delegate on managers
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(http-e2e-tests): add step definitions for warrior guard controllers
  packages/http/tools/e2e-tests/src/warrior/guard/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/guard/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add feature file for guard scenarios
  packages/http/tools/e2e-tests/features/guard.feature
Due: none

style: fix typo
  packages/container/libraries/container/src/container/services/BindingManager.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

chore: add missing e2e task dependency
  turbo.json
Due: none

docs: update copilot docs with vitest usage
  .github/copilot-instructions.md
Due: none

feat: expose RequestMethodParameterType
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

fix: update InversifyHttpAdapter to properly handle request method params
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-e2e-tests): update warrior controllers to use '/warriors' path and promise next function
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsDeleteNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsGetNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsOptionsNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPatchNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPostNextController.ts
  packages/http/tools/e2e-tests/src/warrior/next/controllers/WarriorsPutNextController.ts
Due: none

fix(http-e2e-tests): enhance assertion message for response status code check
  packages/http/tools/e2e-tests/src/warrior/common/step-definitions/thenDefinitions.ts
Due: none

fix(http-fastify): convert middleware handling to async for improved performance
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

refactor: update InversifyHttpAdapter with optional constructor param
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(container): add ServiceResolutionManager
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.ts
Due: @inversifyjs/container

refactor(container): update Container to rely on ServiceResolutionManager
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

style: add missing line feed
  packages/http/tools/e2e-tests/features/response.feature
Due: none

refactor(container): extract ContainerOptions
  packages/container/libraries/container/src/container/models/ContainerOptions.ts
Due: @inversifyjs/container

refactor(container): extract buildDeactivationParams
  packages/container/libraries/container/src/container/calculations/buildDeactivationParams.spec.ts
  packages/container/libraries/container/src/container/calculations/buildDeactivationParams.ts
Due: @inversifyjs/container

refactor(container): extract PluginManager
  packages/container/libraries/container/src/container/services/PluginManager.spec.ts
  packages/container/libraries/container/src/container/services/PluginManager.ts
Due: @inversifyjs/container

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
