Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

feat(http-core): add adapter options and minimal logger for injected controllers
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/HttpAdapterOptions.ts
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

fix: vitest config to properly transpile emitted class metadata
  packages/docs/tools/binding-decorators-code-examples/tsconfig.esm.json
  packages/docs/tools/inversify-code-examples/tsconfig.esm.json
  packages/foundation/tools/vitest-config/lib/index.js
  packages/foundation/tools/vitest-config/package.json
  pnpm-workspace.yaml
  turbo.json
Due: none

fix: plan spec with missing mock return
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
Due: @inversifyjs/core

chore(test): add vitest coverage dependency
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/http/libraries/core/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore(test): refactor test commands from root package
  package.json
Due: none

chore(test): refactor test commands from turbo config
  turbo.json
Due: none

chore(test): remove unused jest dependencies
  packages/foundation/libraries/prototype-utils/package.json
Due: @inversifyjs/prototype-utils

chore(knip): adjust knip config to ignore stryker vitest config
  knip.ts
Due: none

chore(container): fix lint errors
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithNoNameNorTags.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraints.spec.ts
  packages/container/libraries/container/src/container/binding/utils/BindingConstraintUtils.spec.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
Due: @inversifyjs/container

chore(core): fix lint errors
  packages/container/libraries/core/src/metadata/decorators/injectFrom.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingsDeactivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolvePostConstruct.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.spec.ts
Due: @inversifyjs/core

chore(reflect-metadata): fix lint errors
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.spec.ts
Due: @inversifyjs/reflect-metadata-utils

chore(code-examples): fix lint errors
  packages/docs/tools/inversify-code-examples/src/examples/bindingToSyntaxApiToProvider.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAllAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAllAsyncEnforced.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAllNamedAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAllTaggedAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetNamedAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetTaggedAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToFactory.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/bindingToSyntaxApiToProvider.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiGetAllAsync.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiGetAsync.int.spec.ts
Due: none

chore(jest): remove jest from eslint config
  packages/docs/services/inversify-binding-decorators-site/eslint.config.mjs
  packages/docs/services/inversify-site/eslint.config.mjs
  packages/foundation/tools/eslint-config/index.js
  packages/foundation/tools/eslint-config/package.json
Due: none

chore(cir): refactor ci to use vitest commands
  .github/workflows/build.yaml
  .github/workflows/collect-coverage.yaml
Due: none

chore(pnpm): remove jest config files from .npmignore. add vitest config files
  packages/container/libraries/binding-decorators/.npmignore
  packages/container/libraries/common/.npmignore
  packages/container/libraries/container/.npmignore
  packages/container/libraries/core/.npmignore
  packages/container/libraries/strongly-typed/.npmignore
  packages/container/tools/container-benchmarks/.npmignore
  packages/docs/services/inversify-binding-decorators-site/.npmignore
  packages/docs/services/inversify-site/.npmignore
  packages/docs/tools/binding-decorators-code-examples/.npmignore
  packages/docs/tools/code-examples-devkit/.npmignore
  packages/docs/tools/inversify-code-examples/.npmignore
  packages/foundation/libraries/benchmark-utils/.npmignore
  packages/foundation/libraries/prototype-utils/.npmignore
  packages/foundation/libraries/reflect-metadata-utils/.npmignore
  packages/http/libraries/core/.npmignore
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore: update vitest
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/http/libraries/core/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

refactor(core): add isStackOverflowError function
  packages/container/libraries/core/src/error/calculations/isStackOverflowError.spec.ts
  packages/container/libraries/core/src/error/calculations/isStackOverflowError.ts
Due: @inversifyjs/core

fix(core): update plan to no longer provide false positive circular dependencies
  .changeset/calm-cougars-study.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/core/src/planning/calculations/handlePlanError.spec.ts
  packages/container/libraries/core/src/planning/calculations/handlePlanError.ts
  packages/container/libraries/core/src/planning/calculations/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.spec.ts
  packages/container/libraries/core/src/planning/calculations/plan.ts
  packages/container/libraries/core/src/planning/models/BasePlanParams.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

docs: add changeset
  .changeset/tasty-geckos-stick.md
Due: none

refactor(core): removed unused addBranchService function
  packages/container/libraries/core/src/planning/actions/addBranchService.spec.ts
  packages/container/libraries/core/src/planning/actions/addBranchService.ts
Due: @inversifyjs/core

test(container): updated test to be integration test
  packages/container/libraries/container/src/issues/containerGetShouldNotInstantiateAsyncSingletonBindingsTwice.int.spec.ts
Due: @inversifyjs/container

test(container): add regression test
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1744-containerGetShouldNotComplainAboutFalseCircularDependencies.int.spec.ts
Due: @inversifyjs/container

chore: remove benchmark packages from root dependencies
  .github/workflows/build.yaml
  package.json
  packages/container/tools/container-benchmarks/package.json
  packages/http/tools/http-benchmarks/package.json
Due: none

chore: update test:uncommitted task with right dependency
  turbo.json
Due: none

docs: updated changelog
  packages/container/libraries/container/CHANGELOG.md
Due: @inversifyjs/container

feat(logger): add logger package
  packages/logger/libraries/core/.gitignore
  packages/logger/libraries/core/.lintstagedrc.json
  packages/logger/libraries/core/.npmignore
  packages/logger/libraries/core/README.md
  packages/logger/libraries/core/eslint.config.mjs
  packages/logger/libraries/core/package.json
  packages/logger/libraries/core/prettier.config.mjs
  packages/logger/libraries/core/rollup.config.mjs
  packages/logger/libraries/core/src/index.ts
  packages/logger/libraries/core/src/logger/ConsoleLogger.ts
  packages/logger/libraries/core/src/logger/FileLogger.ts
  packages/logger/libraries/core/src/logger/adapter/LoggerAdapter.ts
  packages/logger/libraries/core/src/logger/model/ContextMetadata.ts
  packages/logger/libraries/core/src/logger/model/Logger.ts
  packages/logger/libraries/core/src/model/LogType.ts
  packages/logger/libraries/core/src/model/LoggerOptions.ts
  packages/logger/libraries/core/src/winston/adapter/WinstonLoggerAdapter.ts
  packages/logger/libraries/core/stryker.config.mjs
  packages/logger/libraries/core/tsconfig.cjs.json
  packages/logger/libraries/core/tsconfig.esm.json
  packages/logger/libraries/core/tsconfig.json
  packages/logger/libraries/core/vitest.config.mjs
  packages/logger/libraries/core/vitest.config.stryker.mjs
  packages/logger/libraries/core/vitest.workspace.mjs
  pnpm-workspace.yaml
Due: none

feat(http-core): add user decorator
  packages/http/libraries/core/src/http/decorators/User.spec.ts
  packages/http/libraries/core/src/http/decorators/User.ts
  packages/http/libraries/core/src/http/models/RequestMethodParameterType.ts
Due: @inversifyjs/http-core

feat(http-core): add UserRequest
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/models/UserRequest.ts
Due: @inversifyjs/http-core

feat(http-core): add HttpAdapter
  packages/http/libraries/core/src/http/adapter/HttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): add guard
  packages/http/libraries/core/src/http/guard/AuthGuard.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
Due: @inversifyjs/http-core

chore(http-core): update dependencies
  packages/http/libraries/core/package.json
Due: @inversifyjs/http-core

feat(http-core): add useGuard decorator
  packages/http/libraries/core/src/http/decorators/UseGuard.spec.ts
  packages/http/libraries/core/src/http/decorators/UseGuard.ts
  packages/http/libraries/core/src/reflectMetadata/data/controllerGuardMetadataReflectKey.ts
  packages/http/libraries/core/src/reflectMetadata/data/controllerMethodGuardMetadataReflectKey.ts
Due: @inversifyjs/http-core

feat(http-core): add guard logic to InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): add guards to RouterParams
  packages/http/libraries/core/src/http/models/RouterParams.ts
Due: @inversifyjs/http-core

feat(http-core): fix UserRequest type
  packages/http/libraries/core/src/http/models/UserRequest.ts
Due: @inversifyjs/http-core

feat(http-core): update AuthGuard to use user record type
  packages/http/libraries/core/src/http/guard/AuthGuard.ts
Due: @inversifyjs/http-core

feat(http-core): add UserRequest, AuthGuard, Guard and useGuard to index package
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

chore(http-core): add HttpAdapter implementation to InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-core): inject InversifyHttpAdapter to container
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/http/libraries/core/src/http/guard/Guard.ts
Due: @inversifyjs/http-core
