Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

refactor(http-core): update InversifyHttpAdapter to include TResult generic type in various methods Co-authored-by: notaphplover <roberto.pintos.lopez@gmail.com>
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(http-hono): update InversifyHonoHttp to include TResult generic type in various methods Co-authored-by: notaphplover <roberto.pintos.lopez@gmail.com>
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

refactor(http-express): update InversifyExpressHttpAdapter to include void type in various methods Co-authored-by: notaphplover <roberto.pintos.lopez@gmail.com>
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

chore: update knip config with spec-d.ts entry files
  knip.ts
Due: none

refactor(container): remove unused export
  packages/container/libraries/container/src/binding/models/ResolvedValueInjectOptions.ts
Due: @inversifyjs/container

chore: fix workflow to avoid runing benchmarks on forks
  .github/workflows/build.yaml
Due: none

feat(container): update ContainerModuleLoadOptions with rebind
  packages/container/libraries/container/src/container/models/ContainerModule.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

docs: add changesets
  .changeset/clear-lights-grin.md
  .changeset/gold-cows-listen.md
Due: none

chore: bump peers
  packages/container/libraries/binding-decorators/package.json
  packages/http/libraries/core/package.json
  packages/http/libraries/express/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

feat(container): update Container with loadSync
  .changeset/tall-rules-kneel.md
  packages/container/libraries/container/src/container/models/ContainerModule.spec.ts
  packages/container/libraries/container/src/container/models/ContainerModule.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(container): update Container with unloadSync
  .changeset/poor-monkeys-allow.md
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(http-e2e-tests): add e2e tests for params decorator
  packages/http/tools/e2e-tests/features/params.feature
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteParamsController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteParamsNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetParamsController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetParamsNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchParamsController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchParamsNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostParamsController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostParamsNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutParamsController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutParamsNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorWithId.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/then-definitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

test(e2e-tests): add snapshot scenario
  packages/container/tools/e2e-tests/features/container/snapshot.feature
  packages/container/tools/e2e-tests/src/binding/step-definitions/givenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/thenDefinitions.ts
  packages/container/tools/e2e-tests/src/container/step-definitions/whenDefinitions.ts
Due: none

fix(http-e2e-tests): add missing newline at end of params.feature file
  packages/http/tools/e2e-tests/features/params.feature
Due: none

feat(http-e2e-tests): add body decorator tests and controllers for HTTP methods
  packages/http/tools/e2e-tests/features/body.feature
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteBodyController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsBodyController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchBodyController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostBodyController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutBodyController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorCreationResponse.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorRequest.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add e2e tests for query decorator
  packages/http/tools/e2e-tests/features/query.feature
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutQueryController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutQueryNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorWithQuery.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add e2e tests for headers decorator
  packages/http/tools/e2e-tests/features/headers.feature
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsGetHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutHeadersController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutHeadersNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

feat(http-e2e-tests): add response status code check in params feature tests
  packages/http/tools/e2e-tests/features/params.feature
Due: none

fix(http-e2e-tests): add missing newline at end of headers.feature file
  packages/http/tools/e2e-tests/features/headers.feature
Due: none

fix(http-e2e-tests): add missing newline at end of query.feature file
  packages/http/tools/e2e-tests/features/query.feature
Due: none

feat(http-e2e-tests): add response status code check in body decorator tests
  packages/http/tools/e2e-tests/features/body.feature
Due: none

refactor(http-e2e-tests): replace string type with enum for warrior type in controllers and models
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsDeleteBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsOptionsBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPatchBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPostBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/controllers/WarriorsPutBodyNamedController.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorCreationResponse.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorCreationResponseType.ts
  packages/http/tools/e2e-tests/src/warrior/models/WarriorRequest.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

chore: update dependencies
  packages/container/libraries/binding-decorators/package.json
  packages/http/libraries/core/package.json
  packages/http/libraries/express/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/http-core

docs: update docs
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
Due: none

refactor(core): update InversifyHttpAdapter._buildRouter to return void | Promise<void>
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

feat(http-e2e-tests): add Hono scenarios to e2e tests
  packages/http/tools/e2e-tests/features/params.feature
  packages/http/tools/e2e-tests/features/query.feature
Due: none

refactor(http-e2e-tests): remove unused functions and clean up step definitions in e2e tests
  packages/http/tools/e2e-tests/src/warrior/step-definitions/givenDefinitions.ts
  packages/http/tools/e2e-tests/src/warrior/step-definitions/thenDefinitions.ts
Due: none

feat(e2e-tests): add Hono HTTP methods to body decorator tests
  packages/http/tools/e2e-tests/features/body.feature
Due: none

feat(http-e2e-tests): add hono headers feature tests
  packages/http/tools/e2e-tests/features/headers.feature
Due: none

chore(http-fastify): update inversify peer dependency to version 7.5.0
  packages/http/libraries/fastify/package.json
Due: none

refactor(http-fastify): change return types of response handling methods to void
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

feat(http-e2e-tests): add e2e test for fastify
  packages/http/tools/e2e-tests/features/params.feature
  packages/http/tools/e2e-tests/features/query.feature
Due: none

fix(http-e2e-tests): add missing imports for InversifyHonoHttpAdapter and Hono
  packages/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
Due: none

refactor(http-express): remove express 4 from package
  packages/http/libraries/express/package.json
Due: none

feat(http-express4): initialize express4 package with basic configuration and structure
  packages/http/libraries/express4/.gitignore
  packages/http/libraries/express4/.lintstagedrc.json
  packages/http/libraries/express4/.npmignore
  packages/http/libraries/express4/README.md
  packages/http/libraries/express4/eslint.config.mjs
  packages/http/libraries/express4/package.json
  packages/http/libraries/express4/prettier.config.mjs
  packages/http/libraries/express4/rollup.config.mjs
  packages/http/libraries/express4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/http/libraries/express4/src/index.ts
  packages/http/libraries/express4/stryker.config.mjs
  packages/http/libraries/express4/tsconfig.cjs.json
  packages/http/libraries/express4/tsconfig.esm.json
  packages/http/libraries/express4/tsconfig.json
  packages/http/libraries/express4/vitest.config.mjs
  packages/http/libraries/express4/vitest.config.stryker.mjs
  packages/http/libraries/express4/vitest.workspace.mjs
Due: none

chore(http-benchmarks): add express4 and its types to package.json
  packages/http/tools/http-benchmarks/package.json
Due: none

feat(http-benchmarks): add CurrentInversifyExpress4 and Express4 basic GET scenarios
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress4/CurrentInversifyExpress4BasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/express4/Express4BasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/models/Platform.ts
Due: none

Path conditions:
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/http-core: any of: packages/http/libraries/core
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
