Repository leoptizmo/inversify-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/http-core, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
flags:
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/http-core':
    paths:
      - packages/http/libraries/core
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils

feat(http-core): add MiddlewareHandler
  packages/http/libraries/core/src/http/models/MiddlewareHandler.ts
Due: @inversifyjs/http-core

refactor(http-core): remove next decorator
  packages/http/libraries/core/src/http/decorators/Next.spec.ts
  packages/http/libraries/core/src/http/decorators/Next.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RequestHandler
  packages/http/libraries/core/src/http/models/RequestHandler.ts
Due: @inversifyjs/http-core

refactor(http-core): remove next decorator
  packages/http/libraries/core/src/http/models/RequestMethodParameterType.ts
Due: @inversifyjs/http-core

refactor(http-core): remove next decorator
  packages/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor RouterParams to use MiddlewareHandler
  packages/http/libraries/core/src/http/models/RouteParams.ts
  packages/http/libraries/core/src/http/models/RouterParams.ts
Due: @inversifyjs/http-core

refactor(http-core): refactor InversifyHttpAdapter to use MiddlewareHandler
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

refactor(http-express): refactor InversifyExpressHttpAdapter to use MiddlewareHandler
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

refactor(http-fastify): refactor InversifyFastifyHttpAdapter to implement serHeader and replyStream
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

refactor(http-fastify): remove override keyword from methods in InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

chore(fastify): change package to private and remove publishConfig
  packages/http/libraries/fastify/package.json
Due: none

fix(workflow): update E2E tests condition to include http-fastify package
  .github/workflows/build.yaml
Due: none

feat(http-hono): add stream handling and header setting methods in InversifyHonoHttpAdapter
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

refactor(http-hono): remove override keywords from methods in InversifyHonoHttpAdapter
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

chore(http-hono): change package configuration to private
  packages/http/libraries/hono/package.json
Due: none

fix(http-core): add response parameter to _getCookies method in InversifyHttpAdapter
  packages/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

fix(http-express): update _getCookies method to include response parameter
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

fix(http-hono): update _getCookies method to use getCookie from hono/cookie
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

docs(http-hono): update README to reflect new package name and badge links
  packages/http/libraries/hono/README.md
Due: none

refactor: remove castings
  packages/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

refactor(http-fastify): replace RequestHandler with MiddlewareHandler in InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

refactor(http-hono): update middleware related method signatures
  packages/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

feat(http-hono): add context export
  packages/http/libraries/hono/src/index.ts
Due: none

refactor(container): add getFirstIteratorResult
  packages/container/libraries/container/src/common/actions/getFirstIteratorResult.spec.ts
  packages/container/libraries/container/src/common/actions/getFirstIteratorResult.ts
Due: @inversifyjs/container

refactor(container): add getFirstIterableResult
  packages/container/libraries/container/src/common/calculations/getFirstIterableResult.spec.ts
  packages/container/libraries/container/src/common/calculations/getFirstIterableResult.ts
Due: @inversifyjs/container

feat(container): update Container with unbindSync
  .changeset/fruity-bobcats-love.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

refactor(ci): remove ESM benchmarks from build workflow
  .github/workflows/build.yaml
Due: none

fix(ci): correct markdown syntax in build workflow
  .github/workflows/build.yaml
Due: none

feat(container): updated ContainerModuleLoadOptions with unbindSync
  .changeset/dirty-llamas-hammer.md
  .changeset/tough-singers-sort.md
  packages/container/libraries/container/src/container/models/ContainerModule.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(http-fastify): add cookie handling in InversifyFastifyHttpAdapter
  packages/http/libraries/fastify/package.json
  packages/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

feat(container): update Container
  .changeset/clean-nails-run.md
  .changeset/loose-spies-ring.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat(http-benchmarks): add constant for accepted HTTP status code
  packages/http/tools/http-benchmarks/src/k6/constant/acceptedHttpStatusCode.ts
Due: none

feat(http-benchmarks): add default port constant for HTTP benchmarks
  packages/http/tools/http-benchmarks/src/k6/constant/defaultPort.ts
Due: none

feat(http-benchmarks): integrate constants for HTTP status code and default port in scenarios
  packages/http/tools/http-benchmarks/src/constant/acceptedHttpStatusCode.ts
  packages/http/tools/http-benchmarks/src/constant/defaultPort.ts
  packages/http/tools/http-benchmarks/src/k6/scenario/BasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/currentInversifyExpress/setUpCurrentInversifyExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/express/setUpExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/fastify/setUpFastifyBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSExpress/setUpNestJsExpressBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/nestJSFastify/setUpNestJsFastifyBasicGetScenario.ts
Due: none

refactor(http-benchmarks): introduce DEFAULT_SLEEP_TIME constant for sleep function
  packages/http/tools/http-benchmarks/src/scenario/k6/BaseK6Scenario.ts
Due: none

refactor(http-benchmarks): replace constants with inline definitions
  packages/http/tools/http-benchmarks/src/k6/scenario/BasicGetScenario.ts
Due: none

fix(knip): add ignore pattern for TypeScript constants in src/constant directory
  knip.ts
Due: none

refactor(http-benchmarks): remove ESM benchmark script and related references
  packages/http/tools/http-benchmarks/bin/run-esm.mjs
  packages/http/tools/http-benchmarks/package.json
Due: none

refactor(http-benchmarks): simplify build script by removing ESM build step
  packages/http/tools/http-benchmarks/package.json
Due: none

refactor(http-benchmarks): refactor HonoBasicGetScenario to use K6
  packages/http/tools/http-benchmarks/src/scenario/hono/HonoBaseScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/hono/HonoBasicGetScenario.ts
  packages/http/tools/http-benchmarks/src/scenario/hono/setUpHonoBasicGetScenario.ts
Due: none
